<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
<h1>메인페이지</h1>
<h2>과별 요구전공학점</h2>
<form action="/studentInfo/main/required_majorCredit" method="get">
    <input type="submit" value="요구전공학점불러오기">
</form>
</body>
</html>